.address p {
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
}

.edit {
    max-height: 790px;
    overflow-y: scroll;
}

.img-address {
    width: 150px;
    margin: auto;
}

.poul_flow .address-btn {
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.feed_flow .address-btn {
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--main-color-f);
    border: 1px solid var(--main-color-f);
}

.poul_flow .address-btn:hover {
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    background: var(--main-color);
}
.feed_flow .address-btn:hover {
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    border: 1px solid var(--main-color-f);
    background: var(--main-color-f);
}

.fresh-head {
    font-family: var(--font-family);
    font-size: var(--heading-h4);
    font-weight: var(--font-weight-bold);
    color: var(--main-dark-color);
}

hr {
    color: #181717;
    align-items: flex-end;
    justify-content: right;
}

.button-container {
    display: flex;

}

.btn-receipie {
    padding: 10px 35px;
    margin-right: 12px;
    background: var(--main-box-color-two);
    color: var(--main-dark-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}

.poul_flow .btn-receipie.active {
    padding: 10px 35px;
    margin-right: 12px;
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    border-radius: 5px;
    margin-bottom: 10px;
}

.feed_flow .btn-receipie.active {
    padding: 10px 35px;
    margin-right: 12px;
    background: transparent;
    color: var(--main-color-f);
    border: 1px solid var(--main-color-f);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-receipie:hover {
    transform: scale(1.05);
}

.card .card-img-top {
    width: 150px;
    height: 150px;
    padding: 10px 0;
}

.card {
    box-shadow: var(--box-shadow);
    border: var(--main-box-color-two);
    margin: 0 15px;
    border-radius: 15px;
    position: relative;
}
.top-button{
    padding: 10px;
}

.top-button .desc-btn {
    background: var(--bagde-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-small);
    border: none;
    padding: 2px 8px;
}
.top-button .out-btn {
    background: var(--main-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-small);
    border: none;
    padding: 2px 8px;
}
.top-button img {
    width: 20px;
    /* margin-top: -15px;
    margin-left: 120px; */
}


select {
    padding: 9px;
    width: 25%;
    border-radius: 5px;
    background: var(--main-box-color-four);
    border: none;
    margin: auto;
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-small);
}

.fresh:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.data_image {
    background: var(--main-box-color-two);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.poul_flow .fresh-btn {
    background: var(--main-color);
    border: none;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-small);
    padding: 8px 10px;
    border-radius: 2px;
    float: right;
}
.feed_flow .fresh-btn {
    background: var(--main-color-f);
    border: none;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-small);
    padding: 8px 10px;
    border-radius: 2px;
    float: right;
}
.fresh-btn img {
    width: 11px;
    margin-right: 5px;
}

.product .card-body h5 {
    font-size: var(--heading-h6);
    font-weight: var(--font-weight-medium);
    color: var(--main-dark-color);
}

.common_height {
    height: 60px;
}

.product .card-body p {
    font-size: var(--medium-size);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-one);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.poul_flow .product .card-body .card-price {
    color: var(--main-color);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
}
.feed_flow .product .card-body .card-price {
    color: var(--main-color-f);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
}
.gaps {
    padding: 0px;
}