<div *ngIf="websiteFlow == 'POULTRY' ">
    <app-navbar></app-navbar>
</div>
<div *ngIf="websiteFlow == 'FEEDING' ">
    <app-navbar-f></app-navbar-f>
</div>

<section class="back">
    <div class="container">
        <div class="row pt-5 pb-5">
            <!-- Sidebar -->
            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <div class="nav flex-column nav-pills tab-border large">

                    <a class="nav-link d-flex sidebox-content" routerLink="edit" routerLinkActive="active">
                        <img src="assets/images/Icon-awesome-address-book.svg" alt="">
                        <div>
                            <h5>{{ "Edit Profile" | translate }}</h5>
                            <p>{{ "EditAddYourName" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="orders" routerLinkActive="active">
                        <img src="assets/images/Icon-awesome-address-book.svg" alt="">
                        <div>
                            <h5>{{ "MyOrder" | translate }}</h5>
                            <p>{{ "TrackPurchasesOnePlace" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="address" routerLinkActive="active">
                        <img src="assets/images/Icon-awesome-address-book.svg" alt="">
                        <div>
                            <h5>{{ "Addressess" | translate }}</h5>
                            <p>{{ "EditAddNewAddress" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="wallet" routerLinkActive="active">
                        <img src="assets/images/Icon-ionic-md-wallet.svg" alt="">
                        <div>
                            <h5>{{ "WalletBalance" | translate }}</h5>
                            <p>{{ "RelatedContent" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="favourites" routerLinkActive="active">
                        <img src="assets/images/Icon-metro-favorite.svg" alt="">
                        <div>
                            <h5>{{ "Favourites" | translate }}</h5>
                            <p>{{ "RelatedContent" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="points" routerLinkActive="active">
                        <img src="assets/images/Icon-metro-token.svg" alt="">
                        <div>
                            <h5>{{ "LoyalityPoints" | translate }}</h5>
                            <p>{{ "RelatedContent" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="help" routerLinkActive="active">
                        <img src="assets/images/Icon-awesome-hands-helping.svg" alt="">
                        <div>
                            <h5>{{ "HelpSupport" | translate }}</h5>
                            <p>{{ "RelatedContent" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="settings" routerLinkActive="active">
                        <img src="assets/images/Icon-ionic-md-settings.svg" alt="">
                        <div>
                            <h5>{{ "Settings" | translate }}</h5>
                            <p>{{ "RelatedContent" | translate }}</p>
                        </div>
                    </a>

                    <a class="nav-link d-flex sidebox-content" routerLink="feedback" routerLinkActive="active">
                        <img src="assets/images/Icon-material-feedback.svg" alt="">
                        <div>
                            <h5>{{ "SendFeedback" | translate }}</h5>
                            <p>{{ "ComplaintsSuggestions" | translate }}</p>
                        </div>
                    </a>

                    <div class="nav-link d-flex sidebox-content" *ngIf="!adminLogin" (click)="logOut()">
                        <img src="assets/images/Icon-open-account-logout.svg" alt="">
                        <div>
                            <h5>{{ "LogOut" | translate }}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>